
body{
    font-family: 'Grape Nuts',cursive;
    background-color:#EAF6F6;
}

hr{
    border-color: grey;
    width: 4%;
    border :dotted 6px;
    border-bottom: none;
    margin: 50px  auto;
}
h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}
.profile-img{
    width:10%;
    border-radius: 10%;
}
